/* BackgroundAnimation.css */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

  /* Add bubble animation */
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.body-bg {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* This is to prevent the background from scrolling with the page */
}

.background {
  height: 100vh;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite,
    bubbleAnimation 5s ease infinite;
  display: flex;
  align-items: center;

  position: relative;
}

.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bubbleAnimation 5s ease infinite;
}

.bubble::before {
  top: 10%;
  left: 10%;
}

.bubble::after {
  top: 30%;
  left: 80%;
}
